# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\赚钱网站\新建文件夹\qtkj0851\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
